@font-face {
    font-family: 'vinqueregular';
    src: url('https://raw.githubusercontent.com/5he1n/Alerts/master/MGBerg/vinque_rg.woff2');
}

@font-face {
    font-family: 'Pangolin';
    src: url('https://db.onlinewebfonts.com/t/273e546065967187adef5a138fb7c95d.woff2');
}