@font-face {
    font-family: 'vinqueregular';
    src: url('https://raw.githubusercontent.com/5he1n/Alerts/master/MGBerg/vinque_rg.woff2');
}

@font-face {
    font-family: 'Pangolin';
    src: url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
}